body{
    display: flex;
    padding: 0;
    margin: 0;
font-family: sans-serif;
background: blueviolet;
}
.cajaa{
    position: relative;
font-size: 30px;
padding: 30px 0;
top: 45%;
left: 17%;
width: 300px;
height: 100px;
color: white;
text-align: center;
border-radius: 9px;
}
.cj13{
    opacity: 1;
    z-index: 20;
    background: linear-gradient(90deg,rgba(33,122,225,0.7),rgba(149,250,243,0.4));
    }
.cj12{
    opacity: 0;
    z-index: 10;
    background: linear-gradient(90deg,rgba(131,61,128,0.9),rgba(255,160,247,0.4));
    }

    .a{
        display: grid;
    position: relative;
    padding: 20px 36px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 19px;
    width: 150px;
    letter-spacing: 2px;
    border-radius: 40px;
    background: linear-gradient(90deg,#0162c8,#55e7fc);
    overflow: hidden;
}
.coso1{
    background: linear-gradient(90deg,#755bea,#ff72c0);
}
.dbarra{
position: absolute;
top: 110%;
left: 0px;
width: 100%;
height: 10%;
background: rgba(150, 13, 13, 0.432);
display: none;
}
.con{
position: absolute;
z-index: 1;
padding: 10px 20px;
top: 20%;
text-align: center;
}
.te4{
left: 16%;
}
.te5{
right: 16%;
}
.blateral{
    position: absolute;
    left: 0;
    top: 0px;
    width: 70%;
    max-width: 350px;
    height: 100%;
    background: black;
    transition: .7s;
    text-align: center;
    /* display: grid; */
    justify-items: self-end;
}
.casa{
    position: absolute;
    bottom: 10%;
    right: -100px;
    cursor: pointer;
    width: 50px;
    /* height: 50px; */
    padding: 10% 10%;
    background: black;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    /* border-top: solid blueviolet; */
    /* border-bottom: solid blueviolet; */
    border-left: none;
    /* border-right: solid blueviolet; */
    color: white;
    z-index: 5;
    align-self: center;
    font-size: 2em;
}
.b{
    position: relative;
    padding: 5% 10%;
    border: solid white;
    display: grid;
    text-decoration: none;
    align-content: right;
    min-width: 50px;
    /* max-width: 100px; */
    grid-column-end: center;
    margin: 10% 18%;
    border-radius: 30px;
    color: lightblue;
    transition: .5s;
    font-size: 1.5em;
    max-height: 80px;
}
.b:hover{
border: solid blue;
}
#rg{
    position: relative;
top: 28%;
left:8%;
width:  50%;
height: 50%;
display: none;
}

.pfalsa2{
    position: absolute;
    /* display: flex; */
    width: 100%;
    max-height: 50%;
    height: 50%;
    left: 0%;
    /* min-width: 30%; */
    /* max-width: 500px; */
    /* min-height: 500px; */
    /* height: 50%; */
    z-index: 1;
}
.frax{
    margin:10%;
    background: url(Logoii.png);
    background-size: 100%;
    width: 300px;
    height:300px;
}
.imag{
    position: relative;
    left: 0px;
top:0px;
width: 100%;
height: 100%;
    opacity: 0;
}
.frax:hover {
    background:none;
}
.frax:hover .imag{
    opacity: 1;
}
.subt{
    position: absolute;
    /* bottom: 0.5em; */
    left: 0%;
    font-size: 2.4em;
    text-transform: capitalize;
    letter-spacing: 7px;
    color: white;
    width: 80%;
    padding: 1% 10%;
    font-family: monospace;
    transition: 1s;
}
.frax:hover .subt{
    bottom: -1em;
    text-transform: uppercase;
    text-shadow:0px 0px 5px #55e7fc ,0px 0px 10px #55e7fc ,0px 0px 20px #55e7fc ;
}
.center{
    position: relative;
    display: grid;
    bottom: 30%;
    text-align: -webkit-center;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    height: 10%;
    justify-items: center;
}