body{
    padding: 0;
    margin: 0;
font-family: sans-serif;
}
.cajaa{
    position: absolute;
font-size: 30px;
padding: 30px 0;
top: 45%;
left: 17%;
width: 300px;
height: 100px;
color: white;
text-align: center;
border-radius: 9px;
}
.cj13{
    opacity: 1;
    z-index: 20;
    background: linear-gradient(90deg,rgba(33,122,225,0.7),rgba(149,250,243,0.4));
    }
.cj12{
    opacity: 0;
    z-index: 10;
    background: linear-gradient(90deg,rgba(131,61,128,0.9),rgba(255,160,247,0.4));
    }

    .a{
    position: relative;
    padding: 20px 36px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 19px;
    width: 150px;
    letter-spacing: 2px;
    border-radius: 40px;
    background: linear-gradient(90deg,#0162c8,#55e7fc);
    overflow: hidden;
}
.coso{
}
.coso1{
    background: linear-gradient(90deg,#755bea,#ff72c0);
}
.dbarra{
position: absolute;
bottom: -10%;
left: 0px;
width: 100%;
height: 10%;
background: rgba(150, 13, 13, 0.432);
}
.con{
position: absolute;
z-index: 1;
padding: 10px 20px;
top: 20%;
text-align: center;
}
.te4{
left: 16%;
}
.te5{
right: 16%;
}
.blateral{
    position: absolute;
left: -200px;
top: 0px;
width: 200px;
height: 100%;
background: black;
transition: .7s;
text-align: center;
display: grid;
justify-items: self-end;
}
.casa{
position: absolute;
bottom: 15%;
right: -55px;
cursor: pointer;
width: 50px;
/* height: 50px; */
padding: 8% 1;
background: black;
border-top-right-radius: 30px;
border-bottom-right-radius: 30px;
border-top: solid blueviolet;
border-bottom: solid blueviolet;
border-left: none;
border-right: solid blueviolet;
color: white;
}
.b{
position: relative;
padding: 10px 40px 10px 15px;
border: solid white;
display: grid;
text-decoration: none;
align-content: right;
min-width: 50px;
max-width: 100px;
grid-column-end: center;
margin: 40px;
border-radius: 30px;
color: lightblue;
transition: .5s;
}
.b:hover{
border: solid blue;
}
.pfalsa{
    background:gray;
    background-size:100%;
    width: 100%;
    height:-webkit-fill-available;
}
#rg{
    position: absolute;
top: 28%;
left:8%;
width:  50%;
height: 50%;
display: none;
}

.pfalsa2{
    display: block;
    position: absolute;
    width: 500px;
    height:100%;
    z-index: 1;
}
.frax{
    position: relative;
    top:80px;
    background: url(logoi.png);
    background-size: 100%;
    width: 200px;
    height: 200px;
}
.imag{
    position: relative;
    left: -197px;
width: 595px;
height: 342px;
top: -71px;
    opacity: 0;
}
.frax:hover {
    background:none;
}
.frax:hover .imag{
    opacity: 1;
}
.subt{
    position: absolute;
    bottom: -50px;
    left: -80px;
    font-size: 2.4em;
    text-transform: capitalize;
    letter-spacing: 7px;
    color: white;
    width: 200%;
    font-family: monospace;
    transition: 1s;
}
.frax:hover .subt{
    bottom: -100px;
    text-transform: uppercase;
    text-shadow:0px 0px 5px #55e7fc ,0px 0px 10px #55e7fc ,0px 0px 20px #55e7fc ;
}
.center{
    position: relative;
    bottom: 30%;
    text-align: -webkit-center;
}