body{
    display: flex;
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
background: url("F3.jpeg");
background-size: 400px;
}
.dbarra{
    position: absolute;
    top: 110%;
    left: 0px;
    width: 100%;
    height: 10%;
    background: rgba(150, 13, 13, 0.432);
    display: none;
}
.con{
    position: absolute;
    z-index: 1;
    padding: 10px 20px;
    top: 20%;
    text-align: center;
}
.te4{
    left: 16%;
}
.te5{
    right: 16%;
}
.blateral{
    position: absolute;
    left: 0;
    top: 0px;
    width: 70%;
    max-width: 350px;
    height: 100%;
    background: black;
    transition: .7s;
    text-align: center;
    /* display: grid; */
    justify-items: self-end;
    z-index: 5;
}
.casa{
    position: absolute;
    bottom: 10%;
    right: -100px;
    cursor: pointer;
    width: 50px;
    /* height: 50px; */
    padding: 10% 10%;
    background: black;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-left: none;
    color: white;
    z-index: 5;
    align-self: center;
    font-size: 2em;
}
.b{
    position: relative;
    padding: 5% 10%;
    border: solid white;
    display: grid;
    text-decoration: none;
    align-content: right;
    min-width: 50px;
    /* max-width: 100px; */
    grid-column-end: center;
    margin: 10% 18%;
    border-radius: 30px;
    color: lightblue;
    transition: .5s;
    font-size: 1.5em;
    max-height: 80px;
}
.b:hover{
    border: solid blue;
}
#rg{
    position: absolute;
    left: -100%;
    width: 80%;
    height:50%;
    align-self: center;
    border-radius: 50px;
    background: rgba(171, 171, 171, 0.595);
    transition: 2s;
}
.cajaa{
    position: absolute;
    font-size: 50px;
    padding: 10px 0;
    width: 100%;
    height: 100%;
    max-height: 550px;
    color: white;
    /* margin: 8% 20%; */
    text-align: center;
    border-radius: 20px;
}
.cj13{
    opacity: 1;
    z-index: 2;
    background: linear-gradient(120deg,rgb(19 255 80 / 79%),rgb(48 21 159 / 69%));
    }
.cj12{
    opacity: 0;
    z-index: 1;
    background: linear-gradient(90deg,rgba(131,61,128,0.9),rgba(255,160,247,0.4));
    }

.pfalsa2{
    position: absolute;
    /* display: flex; */
    width: 100%;
    max-height: 500px;
    height: 50%;
    left: 0%;
    /* min-width: 30%; */
    /* max-width: 500px; */
    /* min-height: 500px; */
    /* height: 50%; */
    z-index: 1;
}
.frax{
    margin:2% 10%;
    background: url(logoi.png);
    background-size: 100%;
    width: 300px;
    height:300px;
    transition: 2s;
    overflow: hidden;
}
.imag{
    position: relative;
    left: 0px;
    top:0px;
    width: 100%;
    height: 100%;
    opacity: 0;
}
.frax:hover {
    background:none;
}
.frax:hover .imag{
    opacity: 1;
}
.subt{
    position: absolute;
    /* bottom: 0.5em; */
    left: 0%;
    font-size: 2.4em;
    text-transform: capitalize;
    letter-spacing: 7px;
    color: white;
    width: 80%;
    padding: 1% 10%;
    font-family: cursive;
    transition: 2s;
}
.frax:hover .subt{
    text-transform: uppercase;
    text-shadow: 0px 0px 5px #55e7fc,
     0px 0px 20px #55e7fc,
     0px 0px 30px #55e7fc,
      0px 0px 40px #55e7fc,
       0px 0px 50px #55e7fc,
        0px 0px 60px #55e7fc;
}
.center{
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
    margin: 0% 5%;
    height: min-content;
    align-self: flex-end;
    opacity: 0;
}

.a{
    position: relative;
    padding: 20px 40px;
    margin: 20px 12%;
    border-radius: 30px;
    background: linear-gradient(90deg,#0162c8,#55e7fc);
    overflow: hidden;
    letter-spacing: 2px;
    font-size: 29px;
    text-align: center;
    text-transform: uppercase;
    height: min-content;
    }
.coso1{
    background: linear-gradient(90deg,#85ea5ba6,#ff72eee0);
    }
    .cajon{
        background: white;
        border: none;
        margin: 5px;
        width: 300px;
        height: 0px;
        font-size: 35px;
        padding: 25px;
        border-radius: 15px;
    }
    .cajon1{
    background: gray;
    border: none;
    margin: 5px;
    width: 150px;
    height: 70px;
    font-size: 35px;
    padding: 20px;
    border-radius: 10px;
    }
    .x{
    text-transform: uppercase;
    margin: 40px 10px 10px;
    }
    .iny{
        background:beige;
        position:absolute;
        padding:20px 5%;
        width:90%;
        height:100%;
        z-index:2;
        opacity: 0;
        display: none;
        transition: 2s;
    }       
    .cit{
        position: absolute;
        /* top: 10%; */
        margin: 5% 15% 10px;
        width: 60%;
        max-width: 900px;
        background: linear-gradient(120deg,rgb(48 21 159 / 69%),rgb(19 255 80 / 79%));
        transition: 2s;
        overflow: hidden;
        font-size: 30px;
        height: -webkit-fill-available;
        padding: 5%;
        opacity: 0;
        display: none;
        overflow: scroll;
    text-align: -webkit-center;}
    .kga{
        position: relative;
        margin: 10px 0px 0px;
        display: flex;
        flex-wrap: wrap;
        background: none;
        padding: 0px;
        min-width: 350px;
        justify-content: flex-start;
    }
    .est{
        position: relative;
        width: 30px;
        height:30px;
        background: url("est4.png");
        background-size: 100%;
        margin: 0px;
        padding: 10px;
        cursor: pointer;
    }
    .titulo{
        font-size: 200%;
        color: beige;
        text-align: center;
    }
    .o1{
        position: relative;height: 80px;
        width: 100%;/* padding: 60px 0 30px; */
    }
    .img{
        position: absolute;
        margin: 10px;
        background: url(usuario.png);
        background-size: 100%;
        width: 80px;
        height: 80px;
        border-radius: 100%;
        border: solid ;
    }
    .coment{
        font-size: 70%;
    position: relative;
    text-align: right;
    width: 600px;
    border-block-end: inherit;
    align-self: center;
    place-self: center;
    justify-self: center;
    border-bottom: solid;
    padding: 10px;
margin: 0px 0px 0px;}
.input{
    width: 300px;
    height: 50px;
    font-size: 1em;
    border: none;
    padding: 20px;
    margin: 10px;
    background: none;
    border-bottom: solid 2.5px;
    border-bottom-left-radius: 20px;
    outline: none;
}
    
    .cel{
        display: none;
        background: none;
        position: absolute;
        top: 0%;
        align-self: center;
        margin: 5%;
        text-align: -webkit-center;
        font-size: 200%;
        padding: 2% 4%;
        width: 82%;
        height: 90%;
    }
    .bt{
        position: relative;
        padding: 4% 5%;    
        margin: 5%;
        background: linear-gradient(120deg,rgb(19 255 80 / 99%),rgb(48 21 159 / 99%));
        width: max-content;
        border-radius: 20px;
    }
    .ing{
        position: absolute;
        width: 90%;
        height: 0px;
        background:white;
        overflow: hidden;
        margin: 3%;
        height: 0px;
        transition: 2s;
        top: 0%;
    }
    .reg{
        position: absolute;
        width: 90%;
        height:0px;
        background:white;
        overflow: hidden;
        margin: 3%;
        height: 0px;
        transition: 2s;
        top: 0%;
    }
    @media only screen and (max-width:1080px) {
        .img{
        width: 50px;
        height:50px;
        border-radius: 15px;
        }
        .blateral{
            display: none;
        }
        .cel{
            display: block;
            }
        .regis{
            margin: 520px 5% 5% 5%;
        }
        .cit{
    margin: 5% 5% 10px;
    width: 80%;
    height: 75%;
    transition: 1s;
        }
        .coment{
            width: 95%;
        }

    }