body{
    display: flex;
    padding: 0;
    margin: 0;
    overflow: hidden;
    z-index: 0;}
.body{
    position: absolute;
    padding: 0;
    margin: 0;
    background: url(../imag/fondo1.png);
    overflow: hidden;
    background-size: 200px;
    width: 100%;
    z-index: 1;
    height: 100%;}
@font-face {font-family: Frede;src: url(../letras/Fredericka.ttf);}
@font-face {font-family:Nanum ;src: url(../letras/Nanum.ttf);}
.con{
    position: absolute;
    z-index: 1;
    padding: 10px 20px;
    top: 20%;
    text-align: center;}
.te4{left: 16%;}
.te5{right: 16%;}
.bo{
    position: absolute;
    padding: 0% 2%;
    /* font-family: Amatic SC; */
    /* font-family: Barrio; */
    /* font-family: Cabin Sketch; */
    font-family: Nanum;
    /* font-family: Nothing You Could Do; */
    border: solid white;
    border-radius: 20px;
    color: white;
    text-transform: uppercase;
    font-size: 3.8em;
    text-align: center;
    left: 83%;
    background: url(../imag/fondon.png);
    background-size: 200%;
    width: 250px;
    transform: translateX(-50%);
    }
.b1{bottom: 50%;}
.b2{bottom: 30%;}.b2:hover{ background-color: #0d3a3a;}
.b3{bottom: 10%;}
#rg{
    position: absolute;
    right: -100%;
    bottom: 10%;
    width: 35%;
    height: 65%;
    display: flex;
    /* flex-direction: row; */
    /* align-self: center; */
    border-radius: 50px;
    font-family: Nanum;
    background: none;
    transition: 2s;
    /* display: flex; */
    flex-direction: column;
    align-items: center;}
.cajaa{
    position: absolute;
    font-size: 50px;
    padding: 10px 0;
    width: 100%;
    height: 100%;
    max-height: 550px;
    color: white;
    /* margin: 8% 20%; */
    text-align: center;
    border-radius: 20px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    color: crimson;}
.cj13{
    opacity: 1;
    z-index: 2;
    background:white;}
.cj12{
    opacity: 0;
    z-index: 1;
    background:whitesmoke;}
.pfalsa2{
    position: absolute;
    /* display: flex; */
    padding: 1% 0px;
    width: 100%;
    left: 0%;
    z-index: 1;
    background: url(../imag/fondon.png);
    background-size: 100%;
    display: flex;
    font-family: Frede;
    font-size: 600%;
    text-transform: uppercase;
    color: #bed9d9;
    justify-content: center;
    }
.frax{
    margin: 0% 2%;
    background: url(../imag/logoi.png);
    background-size: 100%;
    width: 130px;
    height: 130px;
    transition: 2s;
    overflow: hidden;}
.imag{
    position: relative;
    left: 0px;
    top:0px;
    width: 100%;
    height: 100%;
    opacity: 0;}
.p2{
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0px;
    background-color: #0d3a3a;
    z-index:0;
    opacity: 1;}
.p3{
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0px;
    background-color: #3e6519;
    z-index:0;
    opacity: 1;}
.p4{
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0px;
    background-color: #dc9052;
    z-index:0;
    opacity: 1;}
.center{
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 30%;
    margin: 15%;
    height: 60%;
    align-self: flex-end;
    opacity: 0;
    background: white;
    border-radius: 30px;
    }
.carrusel{
    position: absolute;
    display: block;
    left: 20%;
    top: 200px;
    width: 50%;
    height: 50%;
    border-radius: 30px;
    border: solid white;
    color: lightblue;
    background: cadetblue;
    }
.a{
    position: relative;
    padding: 2% 10%;
    font-family: Nanum;
    margin: 5% 5%;
    border-radius: 30px;
    background: linear-gradient(90deg,#0162c8,#55e7fc);
    overflow: hidden;
    letter-spacing: 2px;
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    height: min-content;
    }
.coso1{background: linear-gradient(90deg,#85ea5ba6,#ff72eee0);   }
.cajon{
    background: white;
    border: none;
    margin: 5px;
    width: 300px;
    height: 0px;
    font-size: 35px;
    padding: 25px;
    border-radius: 15px;
    display: flex;}
.cajon1{
    background: gray;
    border: none;
    margin: 5px;
    width: 150px;
    height: 70px;
    font-size: 35px;
    padding: 20px;
    border-radius: 10px;}
.x{
    font-size: 200%;
    text-transform: uppercase;
    margin: 40px 10px 10px;}
.iny{
    background:beige;
    position:absolute;
    padding: 0px 2%;
    width: 96%;
    height: 760%;
    z-index:2;
    opacity: 0;
    display: none;
    transition: 2s;
    flex-flow: column wrap;
    align-items: center;
    justify-content: flex-start;
    font-family: sans-serif;}       
.p{
    margin: 1%;
    border: 1px solid;
    width: 569px;
    /* height: 280px; */
    padding: 10px;    
    order: 20;}
.a0{order: 0;}.a1{order: 9;}.a2{order: 1;}.a3{order: 9;}.a4{order: 2;}.a5{order: 11;}.a6{order: 11;}.a7{order: 7;}.a8{order: 8;}.a9{order: 2;}.a10{order: 12;}.a11{order:3;}.a12{order:12;}.a13{order:13;}.a14{order: 7;}
.salr{
    position: fixed;
    right: 5px;
    top: 5px;
    padding: 0px 10px;
    background: red;
    color: white;
    width: 20px;
    height: 40px;
    border-radius: 100%;
    border: solid 5px white;font-size: 32px;z-index: 2;}
h1{color: red;}h2{color: #0162c8;}
.cit{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%);
    width: 60%;
    background: linear-gradient(120deg,rgb(48 21 159 / 69%),rgb(19 255 80 / 79%));
    font-size: 30px;
    height: 395px;
    padding: 5%;
    overflow-y: scroll;
    text-align: -webkit-center;}
.kga{
    position: relative;
    margin: 30px 0px 0px;
    display: flex;
    flex-wrap: wrap;
    background: none;
    padding: 0px;
    justify-content: flex-start;
    /* border: solid; */}
.est{
    position: relative;
    width: 30px;
    height: 30px;
    background: url(../imag/est4.png);
    background-size: 100%;
    margin: 0px;
    padding: 10px 5px 0px 5px;
    cursor: pointer;
    }
.titulo{
    font-size: 200%;
    color: beige;
    text-align: center;}
.o1{
    position: relative;height: 80px;
    width: 100%;/* padding: 60px 0 30px; */}
.img{
    position: absolute;
    margin: 10px;
    background: url(../imag/usuario.png);
    background-size: 100%;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    border: solid ;}
.coment{
    font-size: 70%;
    position: relative;
    text-align: right;
    width: 600px;
    border-block-end: inherit;
    align-self: center;
    place-self: center;
    justify-self: center;
    border-bottom: solid;
    padding: 10px;
    margin: 0px 0px 0px;}
.input{
    display: flex;
    width: 250px;
    height: 20px;
    font-size: .6em;
    border: none;
    padding: 20px;
    margin: 0px 5px 15px;
    background: none;
    border-bottom: solid 2.5px;
    border-bottom-left-radius: 20px;
    outline: none;
    }    
.cel{
    display: none;
    background: none;
    position: absolute;
    top: 0%;
    align-self: center;
    margin: 5%;
    text-align: -webkit-center;
    font-size: 200%;
    padding: 2% 4%;
    width: 82%;
    height: 150%;}
.bt{
    position: relative;
    padding: 4% 5%;    
    margin: 5%;
    background: linear-gradient(120deg,rgb(19 255 80 / 79%),rgb(48 21 159 / 69%));
    width: max-content;
    border-radius: 20px;}
.ing{
    position: absolute;
    width: 90%;
    height: 0px;
    background:white;
    overflow: hidden;
    margin: 3%;
    height: 0px;
    transition: 2s;
    top: 0%;}
.reg{
    position: absolute;
    width: 90%;
    height: 20px;
    background:white;
    overflow: scroll;
    margin: 3%;
    height: 0px;
    transition: 2s;
    top: 0%;
font-size: 35px;border-radius: 10px;}    
.ani{
    position: absolute;
    overflow: hidden;
    display: none;
    }
.am1{
    width: 350px;
    height: 350px;
    bottom: 10px;
    left: 10px;
    z-index: 1;
    background:white;}
.amm1{
    width: 100%;
    height: 100%;}
.cit::-webkit-scrollbar{width: 20px;}
.cit::-webkit-scrollbar-thumb{
    width: 10px;
    background: rgba(44, 35, 213, 0.596);
    border-radius: 9px;
    /* margin: 5px; */
    border-right: 5px solid rgb(71 223 53 / 95%);}
.per{
    position: relative;
    margin: 10px 2%;
    width: 100px;
    height: 100px;
    border: solid red;
}
@media only screen and (max-width:780px) {
    .carrusel{left: 10%;width: 80%;height: 30%;}
    .pfalsa2{font-size: 350%;flex-flow: row wrap;align-items:center;padding: 2% 0px;}
    .input{font-size: 1em;}
    .img{width: 80px;height:80px;}
    .cel{display: flex;align-items: flex-end;flex-direction: column-reverse;align-items: center;}
    .cit{/* margin: 5% 5% 10px; */width: 80%;height: 75%;transition: 1s;}
    .coment{width: 95%;}
    .iny{
        overflow: scroll;
        padding: 20px 5%;
        flex-flow:row wrap;
        align-content: flex-start;}.bo{left: 50%;font-size: 2.8em;width: 200px;}
    .b1{bottom: 26%;}
    .b2{bottom: 14%;}.b2:hover{ background-color: #0d3a3a;}
    .b3{bottom: 2%;/* margin:0px 0 30px 0; */}
    .center{
        width: 90%;
        height: 20%;
        margin: 5%;
        top: 15%;
        flex-flow: column nowrap;}
    .a{width: 85%;padding: 2%;margin: 10px 5%;font-size: 30px;}
    #rg{bottom: 5%;width: 84%;height: 50%;}}