body{
   background: url("../imag/fondo00.png");
   background-size: 200px;
   padding: 0;
   margin: 0;
   overflow: hidden;
   }
@font-face {font-family: Frede;src: url(../letras/Fredericka.ttf);}@font-face {font-family:Nanum ;src: url(../letras/Nanum.ttf);}
.salir{
       position: absolute;
       /* align-self: flex-end; */
       /* bottom: 1%; */
       right: 20px;
       margin: 0 20px;
       border: none;
       width: 80px;
       height:80px;
       background: white;
       /* padding: 20px 40px; */
       cursor: pointer;
       padding: 10px;
       border-radius: 10px;
   }
   .sal{
   width: 100%;
   height: 100%;
   position: absolute;
   left: 0px;
   top: 0px;
   background: none;
   border: none;
   outline: none;
   cursor: pointer;
   }
.inf{
   position: absolute;
   padding: 20px;
   width: 200px;
   height: 200px;
   border-radius: 20px;
   font-family: Nanum;
   border: solid 5px #00a0d7;
   color: #59c7ed;
   background: #00288c;
}
.o1o{
   height: 80px;
   /* padding: 60px 0 30px; */
   left: 5%;
   top: 30%;
   width: 400px;
   height: 350px;
}
.o2o{
   position: absolute;
   width: 200px;
   padding: 10px;
   font-size:150%;
   background: #9f7fff40;
   /* right: 40px; */
   border:
   solid;
   border-radius:20px;
   transform: translateX(-50%);
   top: 300px;
   left: 30%;
}
.bo{position: absolute;
   font-family: Nanum;
   border: solid 5px #00a0d7;
   border-radius: 20px;
   color: #59c7ed;
   background: #00288c;
   width: 250px;
   }
   .pfalsa2{position: absolute;padding: 1% 0px;width: 100%;left: 0%;z-index: 1;background: #00288c;background-size: 100%;display: flex;font-family: Frede;font-size: 550%;text-transform: uppercase;color: #d9d9d9;justify-content: center;border-bottom: solid 12px #00a0d7;}

.o3o{
 left: 40%;
 bottom: 10%;
 font-size: 300%;
 text-transform: uppercase;
 text-align: center;
}
.o4o{
   right: 15%;
   top: 30%;
   height: 400px;
   width: 250px;
   font-size: 300%;
}
.img{
   position: absolute;
   /* margin: -25px 20px; */
   background: url(../imag/usuario.png);
   top: 50px;
   background-size: 100%;
   width: 170px;
   height: 170px;
   border-radius: 25%;
   border: solid;
   transform: translateX(-50%);
   left: 30%;
}
.i{
   position: absolute;
   display: flex;
   /* justify-content: center; */
   padding: 10px;
   background: #9f7fff40;
   /* right: 40px; */
   width: 200px;
   border:
   solid;
   border-radius:20px;
   transform: translateX(-50%);
   top: 240px;
   left: 30%;
}
.chatt{
   width:100%;
}
.chat{
   padding: 10px;
   margin: 0 20px;
   background: azure;
   position: absolute;
   /* bottom:20%; */
   right: 180px;
   width: 80px;
   height:80px;
   border-radius: 10px;
   cursor: pointer;
}
.cit{
   position: absolute;
   top: 10%;
   margin: 0% 15%;
   width: 0px;
   max-width: 900px;
   background: linear-gradient(120deg,rgb(55 21 159 / 99%),rgb(0 102 255),rgb(157 192 255 / 81%));
   transition: 2s;
   overflow: hidden;
   text-align: -webkit-center;
   font-size: 30px;
   height: 80%;
}
.est{
   position: relative;
   width: 60px;
   height: 60px;
   background: url(../imag/est2.png);
   background-size: 100%;
   margin: 10px 0px;
   padding: 20px;
   cursor: pointer;
}
.kga{
   position: relative;
   margin: 0px 20px;
   display: flex;
   flex-wrap: wrap;
   background: none;
   padding: 20px;
   height: 58px;
   align-content: center;
   place-content: center;
}
.titulo{
   font-size: 200%;
   color: beige;
   text-align: center;
}
.op{
   width: 60%;
   position: relative;
   border: none;
   background: url(../imag/fondo.jpg);
   text-align: center;
   height: 200px;
   font-size: xx-large;
   margin: 20px 0px 5px;
}
.salr{position: fixed;right: 5px;top: 5px;padding: 5px;background: red;color: white;width: 40px;height: 40px;border-radius: 100%;border: solid 5px white;font-size: 35px;text-align: center;z-index: 2;font-family: sans-serif;text-transform: uppercase;}
.contenedor{
   margin: 0% 0px 0px 0px;
   top: 20%;
   right: 0%;
   width: 35%;
   height: 80%;
   overflow-y: scroll;
   display: none;
   background: url("../imag/fondo1.png");
   background-size: 200px;
   position: absolute;
   justify-self: center;
   flex-flow: column wrap;
   align-items: center;
   justify-content: center;
   border-left: solid 12px #00a0d7;
}
.body{
   position: absolute;
   left: 0;
   top: 0;
   padding: 0;
   margin: 0;
   background: url(../imag/fondo00.png);
   overflow: hidden;
   background-size: 200px;
   width: 100%;
   z-index: -1;
   opacity: 0;
   height: 100%;
   transition: 2s;
   font-family: Nanum;
   font-size: 150%;
   }
.contenedor .tema{
   display: flex;
   padding: 15px;
   width: 90px;
   height: 90px;
   border-radius: 15px;
   background-color: rgb(95, 171, 171);
   margin: 10px 30px;
   opacity: 1;
   font-size: 16px;
}
.contenedor .a{
   background-color: rgb(255, 198, 124);
}
.contenedor .b{
   background-color: rgb(124, 176, 255);
}
.contenedor .c{
   background-color: rgb(255, 124, 189);
}
.contenedor .c{
   background-color: rgb(255, 124, 189);
}
.contenedor2 .box{
 position: absolute;
 opacity: 1;
 background-color: rgb(35, 100, 100);
 width: 0%;
 height: 0%;
 padding: 0% 0%;
 top: 50%;  left:-50%;
 transition-delay: 2s;
 transition: 2s;
 transform: translate(-50%,-50%);
 overflow-y: auto;
 flex-wrap: wrap;
 max-height: 1000px;
 /* font-family: system-ui; */
 z-index: 1;
}
.bl{
  position: absolute;
  transform: translate(-50%,-50%);
  left: 50%;
  top: 15%;
  font-size: 60px;
  padding: 10px 20px;
  background-color: beige;
  z-index: 1;
  font-family: Nanum;
}
.l{
   left: 30%;
   top: 20%;
}
.ll{
    left: 17%;
    top: 52%;
 }
 .lll{
     left: 40%;
     top: 80%;
  }
.pa1{
   position: absolute;
   bottom: 20%;
   left: 20%;
   width: 380px;
   padding: 20px;
   background-color: beige;
   display: flex;
}
.pa2{
   position: absolute;
   top: 7%;
   right: 5%;
   width: 400px;
   height: 80%;
   padding: 20px;
   background-color: white;
   display: flex;
   flex-flow: column wrap;
   justify-content: space-between;
   align-items: center;
}
.pa2 .a{
   position: relative;
   width: 90%;
   height: 45%;
   background-color: #dbffc9;
   /* border: solid rgb(35, 100, 100); */
   display: flex;
   flex-flow: row wrap;
   align-items: flex-start;
   justify-content: space-evenly;
   overflow: hidden;
}
.pa2 .a:hover{
   overflow: visible;
}
.exp1{
      position: absolute;
   transform:translate(-50%,-50%);
   top:390px;
   left:50%;
   width: 270px;
   height: 200px;
   padding:20px 50px;
   background: #707070;
   z-index: 1;
}
.exp2{
   position: absolute;
 transform:translate(-50%,-50%);
 bottom:160px;
 left:50%;
   width: 270px;
   height: 200px;
   padding:20px 50px;
   background: #707070;
   z-index: 1;
}
.pa2 .b{
   position: absolute;
   display: flex;
   align-self: flex-end;
   flex-flow: row wrap;
   align-items: flex-start;
   justify-content: space-evenly;
   width: 90%;
   height: 45%;
   overflow: hidden;
   background-color: #ffc7c7;
}
.pa2 .b:hover{
   overflow: visible;
}
.body .pa2 .b{
   bottom: 5%;
}
#ps .pa1{
 bottom:40%;
 left:30%;
 width:20%;
 height:40%;
}
.di{
   position: relative;
   padding: 20px;
   width: 20px;
   height: 45px;
   margin: 5px 45px;
   background: url(../imag/stick.png);
   background-size: 100%;
}
.da{
   position: relative;
   padding: 20px;
   width: 40px;
   height: 20px;
   margin: 15px;
   background: url(../imag/gal.png);
   background-size: 75%;
}
.de{
   position: relative;
   padding: 20px;
   width: 20px;
   height:20px;
   margin: -20px 30px;
   background: url(../imag/gal.png);
   background-size: 100%;
}
.y{
   position: absolute;
   width: 30px;
   height: 30px;
   padding:20px;
   background: url(../imag/choco.jpeg);
   background-size: 100%;
}
.y1{
   top: 50px;
   left: 100px;
   animation: a1 4s infinite;
}
.y2{
   top: 50px;
   left: 170px;
   animation: a2 4s infinite;
}
.y3{
   top: 120px;
   left: 100px;
   animation: a3 4s infinite;
}
.y4{
   top: 120px;
   left: 170px;
   animation: a4 4s infinite;
}
@keyframes a1{
   0%{transform: translate(0px,0px);}
   5%{transform: translate(0px,0px);}
   50%{transform: translate(-30px,-30px);}
   95%{transform:translate(0px,0px);}
   100%{transform:translate(0px,0px);}
}
@keyframes a2{
   0%{transform: translate(0px,0px);}
   5%{transform: translate(0px,0px);}
   50%{transform: translate(30px,-30px);}
   95%{transform:translate(0px,0px);}
   100%{transform:translate(0px,0px);}
}
@keyframes a3{
   0%{transform: translate(0px,0px);}
   5%{transform: translate(0px,0px);}
   50%{transform: translate(-30px,30px);}
   95%{transform:translate(0px,0px);}
   100%{transform:translate(0px,0px);}
}
@keyframes a4{
   0%{transform: translate(0px,0px);}
   5%{transform: translate(0px,0px);}
   50%{transform: translate(30px,30px);}
   95%{transform:translate(0px,0px);}
   100%{transform:translate(0px,0px);}
}
.tec{
   position: absolute;
   background: #dbffc9;
   width: 90%;
   height: 90%;
   flex-flow: row wrap;
}
.spa{
   background-color: black;
   position: absolute;
   width: 80px;
   border-radius: 10px;
   height: 3px;
   top: 100px;
   transform: translate(-50%,-50%);
   left: 15%;
}
.te{
   transform: translate(-50%,-50%);
   position: absolute;
   width: 30px;
   height: 30px;
   padding: 10px;
   border: solid;
   font-size: 120%;
   background: none;
   text-align: center;
}
@keyframes te{
   0%{padding:10px;}
   50%{padding:15px;}
   100%{padding:10px;}
}
#tea{
   left: 15%;
   top: 60px;
   background: #7b7bff;
}
#teb{
   left: 15%;
   top: 140px;
   background: #ff8181;
}
#tea1{
   left:20%;
   top: 70%;
   background: #7b7bff;
   animation: te 5s infinite;
}
#tea2{
   left: 50%;
   top: 70%;
   background: #7b7bff;
   animation: te 5s infinite;
}
#tea3{
   left: 80%;
   top: 70%;
   background: #7b7bff;
   animation: te 5s infinite;
}
#teb1{
   left: 20%;
   top: 90%;
   background: #ff8181;
   animation: te 5s infinite;
}
#teb2{
   left: 50%;
   top: 90%;
   background: #ff8181;
   animation: te 5s infinite;
}
#teb3{
   left: 80%;
   top: 90%;
   background: #ff8181;
   animation: te 5s infinite;
}
.tec .in{
   display: none;
   position: absolute;
   top: -15px;
   right: 0%;
   width: 250px;
   height: 135px;
   padding: 20px;
   font-size: 23px;
}
@media only screen and (max-width:780px) {
   body{
      background: aquamarine;}
      .pfalsa2{font-size: 300%;flex-flow: row wrap;align-items:center;padding: 2% 0px;}
 .contenedor{
   position: absolute;
   max-width:100%;
   max-height: 100%;
   flex-flow:column nowrap;}
 .contenedor .tema{
   width: 60px;
   height: 60px;
   margin: 3%;
   font-size: 16px;}
 .contenedor2 .box{
   height: 97%;}
   .inf{
      height:3em;
      font-size:50px;}
   .img{
      width:140px;
      height:140px;}
   .cit{
      margin: 20% 5%;
      height: 60%;}
   .op{
      width: 80%;
      height: 250px;}
   .kga{
      margin: 20px 20px;}
   .est{
      width: 120px;
      height:120px;
      padding: 0px;}
   .chat{
      right:20%;
      bottom:20px;}}